@use "./base.scss";

// put your custom CSS here!
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .grid-item {
    background-color: #2a2a2a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
  }

  .grid-item:hover {
    background-color: #333333;
  }

  .grid-item .icon {
    font-size: 2em;
    margin-bottom: 10px;
  }

  .grid-item .icon img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  .grid-item .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .grid-item .description {
    font-size: 1em;
  }

  /* Index Page Boxes */

  .grid-item.type-1 {
    background-color: #2b2b2b;
  }

  .grid-item.type-2 {
    background-color: #2c2c2c;
  }

  .grid-item.type-3 {
    background-color: #2d2d2d;
  }

  .grid-item.type-4 {
    background-color: #2e2e2e;
  }

  .grid-item.type-5 {
    background-color: #2f2f2f;
  }

  .grid-item.type-6 {
    background-color: #303030;
  }

  .grid-item {
    padding: 15px !important;
  }

  .grid-item .icon img {
    margin: 5px;
  }